body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size:1em;
	font-weight:bold;
	line-height:1.6;
	color:#E6E8F2;
	background-color:#01022A;
}

a {
	text-decoration:none;
	color:#E59F33;
}

a:hover {
	color:#A10826;
}

a[href*="steverichey.com"]:after {
	content: '';
	margin: 0;
}

iframe {
    border: none;
    overflow: hidden;
}

.container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.footer {
	margin-top: 20px;
}

.centered {
	text-align: center;
}

.fullwidth {
	width: 100%;
}

.buttons {
	list-style:none outside none;
	margin:0 auto;
	padding:1em 0;
	text-align:justify;
}

.buttons li {
	text-align:center;
	display:inline-block;
	padding:0;
	width:23%;
	height:70px;
	margin: 1%;
	opacity: 0.5;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	cursor: pointer;
}

.buttons li:hover {
	opacity: 1;
}
/* -- icons -- */
a[href^="//"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after,
.ext:after,
.buttons i {
	display:block;
    background-image:url(./img/icons.svg);
    background-repeat: no-repeat;
}

.buttons i {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
	width:44px;
	height:44px;
}

.amazon i 		{ background-position: 0 0;      }
.appstore i 	        { background-position: 0 -44px;  }
.bandcamp i 		{ background-position: 0 -88px;  }
.desura i 		{ background-position: 0 -132px; }
.greenlight i 	{ background-position: 0 -188px; }
.gumroad i 		{ background-position: 0 -232px; }
.humble i 		{ background-position: 0 -276px; }
.indiedb i 		{ background-position: 0 -320px; }
.indiegs i 	        { background-position: 0 -364px; }
.itchio i 		{ background-position: 0 -408px; }
.play i 			{ background-position: 0 -452px; }
.press i 		        { background-position: 0 -496px; }
.trailer i 		{ background-position: 0 -540px; }

a[href^="//"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after,
.ext:after {
    content: '';
    display: inline-block;
    margin: 0 0 0 5px;
    width: 12px;
    height: 12px;
    background-position: 0 -176px;
}

.hideable {
	overflow: hidden;
	margin: 5px;
	max-height: 0;
    -o-transition: max-height 0.5s;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.shown {
	max-height: 200vh;
}

blockquote {
	position: relative;
	padding: 10px;
	margin: 5%;
    min-height: 4em;
	border: 1px solid rgb(128, 128, 128);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

blockquote .source:before {
	content: '-';
	padding: 0 5px 0 5px;
}

blockquote .source {
	float: right;
	position: relative;
	margin-top: 5px;
	width: 30%;
	font-style: italic;
}

@media (min-width: 800px) {
	.container { width: 800px; }
}

@media (max-width: 799px) {
	.buttons li {
		font-size:.723em;
	}
}