body {
	font-family: sans-serif;
	font-weight: bold;
	line-height: 1.6;
	color: #E6E8F2;
	background-color: #0A0E1C;
}

a {
	text-decoration: none;
	color: #E59F33;
}

a:hover {
	color: #A10826;
}

iframe {
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.header {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
}

.header .poster,
.header .scaleframe {
    width: 100%;
    position: relative;
    top: 0;  bottom: 0;  left: 0;  right: 0;
}

.header .scaleframe {
    width: 100%;
    height: 53vw;
    max-height: 450px;
}

.poster {
    width: 100%;
    padding-bottom: inherit;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.poster-video {
    width: 100%;
    padding-bottom: inherit;
    display: none;
}

.video-button {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 85%;
    left: 85%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    transform:         translate(-50%, -50%);
    opacity: 0.25;
}

.video-button:hover {
    opacity: 1.0;
}

.play-symbol {
    box-sizing:content-box;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
}

.play-symbol span {
    position: absolute;
    top: 11%;
    left: 25%;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
    border-left: 68px solid #fff;
}

.container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.footer {
	margin-top: 20px;
}

.centered {
	text-align: center;
}

.fullwidth {
	width: 100%;
}

.buttons {
	padding: 1em 0;
	text-align: center;
}

.buttons li {
	display: inline-block;
	width: 19%;
	margin: 1%;
	opacity: 0.5;
	transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
}

.buttons li:hover {
	opacity: 1;
}

/* -- icons -- */
.buttons i {
	display: block;
    background-image: url(../img/icons.svg);
    background-repeat: no-repeat;
}

.buttons i {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform:    translate(-50%, 0);
    -o-transform:      translate(-50%, 0);
    -ms-transform:     translate(-50%, 0);
    transform:         translate(-50%, 0);
	width:44px;
	height:44px;
}

.amazon i 	{ background-position: 0 0;      }
.appstore i { background-position: 0 -44px;  }
.bandcamp i { background-position: 0 -88px;  }
.facebook i { background-position: 0 -132px; }
.googplay i { background-position: 0 -176px; }
.gumroad i  { background-position: 0 -220px; }
.humble i   { background-position: 0 -264px; }
.indiegs i  { background-position: 0 -308px; }
.itchio i   { background-position: 0 -352px; }
.press i    { background-position: 0 -396px; }
.sellbox i  { background-position: 0 -440px; }
.steam i    { background-position: 0 -484px; }
.twitter i  { background-position: 0 -528px; }

a[href^="//"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
    background-image: url(../img/ext.svg);
    background-size: 12px 12px;
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 0 0 5px;
    width: 12px;
}

.hideable {
	overflow: hidden;
	margin: 5px;
	max-height: 0;
    -o-transition: max-height 0.5s;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.shown {
	max-height: 200vh;
}

blockquote {
	border: 1px solid rgb(128, 128, 128);
	border: 1px solid rgba(255, 255, 255, 0.25);
	margin: 5%;
    min-height: 4em;
	position: relative;
	padding: 10px;
}

blockquote .source:before {
	content: '-';
	padding: 0 5px 0 5px;
}

blockquote .source {
	float: right;
	position: relative;
	margin-top: 5px;
	width: 30%;
	font-style: italic;
}

@media (min-width: 800px) {
	.container { width: 800px; }
}

@media (max-width: 799px) {
	.buttons li {
		font-size:.723em;
	}
}
